// BASE BODY BACKGROUND

body {
    background-color: #171111; // to cover viewport completely when screen is dragged
    background-image: linear-gradient(180deg, rgba(33, 16, 16, 0.62) 28%,rgba(12, 7, 5, 0.76) 100%), 
        url(../assets/images/backgrounds/contemp-comp-gtm.jpg);
    background-size: cover;
    background-position: unset;
    background-attachment: unset;
}

.background-dimmer {
    z-index: -10;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #08080899;

    opacity: 0;
    transition: opacity .6s ease-out .8s;
}



// TOPBAR BACKGROUND

.topbar {
    position: sticky;
    top: 0;
    padding-bottom: 3.5rem;
}

.topbar__background {
    z-index: -10;

    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #b17029 22%, #542204);
    clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 10.9% 100%, 0px 91%);
}
