// FOR TOP and SIDE VARIETIES
.brandbox {
    position: fixed;
    top: 0;
    left: 0;

    margin-left: .65rem;
    margin-top: .4rem;

    .brand-link {
        @include neutral-link();
    }

    .brand--home,
    .brand--not-home {
        position: absolute;
        top: 0;
        left: 0;
    }

    $name-transition: opacity .9s ease-out;

    .brand--home {
        transition: $name-transition;

        h1 {
            font-size: 2.3rem;
            text-transform: uppercase;
            line-height: 1;
            text-shadow: var(--t-shadow-sm);
        }
        h2 {
            font-family: var(--ff-black);
            font-size: .85rem;
            font-weight: 900;
            text-transform: lowercase;
            line-height: 1;
            color: var(--color-primary);
        }
    }
    .brand--not-home {
        transition: $name-transition;

        h1 {
            font-size: 1.6rem;
            text-transform: uppercase;
            line-height: 1;
            white-space: nowrap;
            text-shadow: var(--t-shadow-sm);
        }
        h2 {
            font-family: var(--ff-black);
            font-size: .85rem;
            font-weight: 900;
            text-transform: lowercase;
            line-height: 1;
            white-space: nowrap;
            color: var(--color-black);
        }
    }

    .brand__icons {
        @include flex-straight(row);
    }

    .icon-fontawesome {
        margin: 2rem 1rem 0 0;
        font-size: 3rem;
        color: var(--color-midnight);
    }
}

.nav-item {
    @include flex-straight(row, flex-end);
}

.nav-link {
    &:link, &:visited {
        margin: 0 1rem;
        padding: 0;

        font-family: var(--ff-body);
        font-size: 1.1rem;
        line-height: 1;
        letter-spacing: 1px;
        font-weight: var(--fw-bold);
        text-decoration: none;
        text-transform: lowercase;

        color: var(--color-white);
        text-shadow: 0px 2px 2px #000;
    }
}



// FOR TOPBAR ONLY
.topbar {
    @include flex-straight(column, flex-start, flex-end);

    z-index: 1000;

    .hamburger {

        &:focus {
            outline: none;
        }
        &.is-active {
            filter: drop-shadow(4px 3px 0px #4ba5ff);
        }
    }

    .accordion {
        padding: 6px;
        text-align: right;
    }

    .nav-list {
        padding: .7rem 0 1rem;
    }

    .nav-link {
        &:link, &:visited {
            div {
                // nav link text
                position: relative;
                width: fit-content;
                text-align: right;
                transition: color .1s ease-in 1s, text-shadow .2s ease-in;

                &::before {
                    // nav-link left-star icon
                    content: "✧";
                    display: inline-block;
                    position: relative;
                    top: .1rem;
                    margin-right: 0.3rem;
                    width: min-content;
                    height: 100%;
                    color: var(--color-white);
                    opacity: 0;

                    transition: opacity .5s ease-out 1s;
                }
            }
        }
        &:hover, &:active {
            color: var(--color-blue);

            div::before {
                opacity: 1;
            }

            // .faicon--iconbar {
            //     opacity: 1;
            // }
        }
        &.active {
            color: var(--color-primary);
            text-shadow: 0px 1px 1px #000;
            cursor: default;

            div::before {
                content: "✦";
                color: var(--color-primary);
                opacity: 1;
            }

            // .faicon--iconbar {
            //     opacity: 1;
            // }
        }
    }

    .nav-collapse { // needed to extend topbar__nav to full width
        width: 100%;
    }

    &__nav {
        @include flex-straight(row-reverse, space-between, flex-start);
    }

    .brand__icons {
        align-self: flex-end;
        margin: 0 0 .5rem .65rem;
    }

    .topbar__icon-link {
        &:link, &:visited {
            color: var(--color-white);
        }
        &:hover, &:active {
            color: var(--color-blue);
        }
    }

    .fontawesome-icon--topnav {
        font-size: 3rem;
        filter: drop-shadow(var(--t-shadow-sm));
    }

}



// FOR SIDEBAR ONLY
