// _HAMBURGERS DEFAULT OVERRIDES
$hamburger-padding-x           : 8px 0;
$hamburger-padding-y           : 9px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : var(--color-white);
