.home-page {
    .first-line {
        @include flex-straight();
    }

    .greeting {
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: lowercase;
        line-height: 1;
        color: var(--color-white);
        text-shadow: 11px 4px 2px #000;
    }

    .pre-name {
        margin-left: 1.25rem;

        font-size: 1.7rem;
        font-weight: bold;
        text-transform: lowercase;
        line-height: 1;
        color: var(--color-primary);
        text-shadow: 14px 4px 8px #000;
    }

    h3 {
        position: relative;
        top: -.3rem;

        margin: 0 0 1.1rem .7rem;

        font-family: var(--ff-black);
        font-size: 2.11rem;
        font-weight: 900;
        line-height: 1;
        color: var(--color-primary);
        text-shadow: 2px 2px 15px #000;

        .dim {
            white-space: nowrap;
            filter: brightness(.4) saturate(0.7);
        }
    }
}
