/* UTILITIES */



@function rel-size($label) {
    $result: 1rem;
    @if $label == 300 {
        $result: $result * .8;
    } @else if $label == 500 {
        $result: $result * 1.25;
    } @else if $label == 600 {
        $result: $result * 1.6;
    } @else if $label == 700 {
        $result: $result * 2;
    } @else if $label == 900 {
        $result: $result * 3;
    }

    @return $result;
}

@mixin flex-straight($direction: row, $justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin neutral-link() {
    &:link, &:visited {
        color: var(--color-white);
        text-decoration: none;
    }
}



.page__container {
    margin: .5rem 5% 2rem;
}

.page__title {
    margin-bottom: 1.7rem;

    font-family: var(--ff-body);
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1;
    color: var(--color-primary);
    text-shadow: var(--t-shadow-lg);
}

.article-copy {
    line-height: 1.8;
}

.flow--col > *:not(.no-flow) + * {
    margin-top: var(--flow-space, 1rem);
}
.flow--row > *:not(.no-flow) + * {
    margin-left: var(--flow-space, 1rem);
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.showing { opacity: 1 !important; }
.hiding { opacity: 0 !important; }
