// _HAMBURGERS DEFAULT OVERRIDES
$hamburger-padding-x           : .75rem .1rem;
$hamburger-padding-y           : .75rem;
$hamburger-layer-width         : 1.875rem;
$hamburger-layer-height        : .1875rem;
$hamburger-layer-spacing       : .3125rem;
$hamburger-layer-color         : var(--color-white);
