/*
JOSEPH P. PASAOA
SCSS Styling | My Portfolio Site v1
https://dev.josephpasaoa.com/
*/


/* FONT INITS */
// font-family: 'Raleway', sans-serif;
// font-family: 'Catamaran', sans-serif;

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('./assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Catamaran';
    src: url('./assets/fonts/Catamaran/static/Catamaran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
