@import './scss/reset';


:root {
  font-size: 16px;

  --ff-body: 'Raleway', sans-serif;
  --ff-accent: 'Catamaran', cursive;

  --fs-body: 1rem;

  --fw-bold: 700;
  --fw-black: 900;

  --color-white: #fcfcfc;     // alabaster
  --color-blue: #1ea0d2;      // curious blue
  --color-primary: #ffac10;   // sun
  --color-copper: #311102;    // buccaneer
  --color-midnight: #0e1b3d;  // blue zodiac

  --b-radius: .375rem;
}

.Main-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
