/* IMPORTS */
@import "~bootstrap/scss/bootstrap";                // necessary for react-bootstrap styling
@import "./styles/hamburger/hamburger-settings";    // customizes hamburger styling
@import "./styles/hamburger/hamburgers";            // styling for hamburger animations (https://jonsuh.com/hamburgers/)

@import './styles/reset';                           // modern reset by Andy Bell
@import './styles/utilities';                       // for useful styling helpers, mixins, functions
@import './styles/backgrounds';                     // all layout-related backgrounds
@import './styles/bars';                            // for styling topbar and sidebar
@import "./styles/hamburger/hamburger-animation";   // customizes hamburger animation



/* ROOT VARIABLE DECLARATIONS */
:root {
    font-size: 16px;

    --ff-body: 'Raleway', sans-serif;
    --ff-black: 'Raleway-Black', sans-serif;
    --ff-accent: 'Catamaran', cursive;

    --fs-body: 1rem;

    --fw-bold: 700;
    --fw-black: 900;

    --color-white: #fcfcfc;     // alabaster
    --color-blue: #1ea0d2;      // curious blue
    --color-primary: #ffac10;   // sun
    --color-copper: #311102;    // buccaneer
    --color-midnight: #0e1b3d;  // blue zodiac
    --color-black: #111;        // dark charcoal

    --b-radius: .375rem;
    --t-shadow: 0px 2px 2px #111;
}



/* GLOBALS */
body {
    position: relative;
    padding-bottom: rel-size(600);
    overflow-x: hidden;

    color: var(--color-white);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    font-size: rel-size(700);
}

h2,
h3 {
    font-size: rel-size(600);
}

a {
    color: var(--color-blue);
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

// :focus,
// button:focus {
//     outline: #fff solid 2px;
//     outline-offset: 0.25rem;
//     animation: flash-outline 1s ease-in .5s infinite alternate;
// }

// @keyframes flash-outline {
//     to {
//         outline-color: #fff0;
//     }
// }



/* LAYOUT */
.layout-base {
    @include flex-straight(column);
    height: 100%;
    overflow-y: auto;
}

.stage {
    flex-shrink: 0;
    flex-grow: 1;
    padding-top: 1rem;
}



/* PLAYGROUND */
.paragraph-copy {
    width: 12rem;
}

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
