/* IMPORTS */
@import './scss/reset';             // modern reset by Andy Bell
@import './scss/background';        // background dimming mechanism



/* ROOT VARIABLE DECLARATIONS */
:root {
    font-size: 16px;

    --ff-body: 'Raleway', sans-serif;
    --ff-accent: 'Catamaran', cursive;

    --fs-body: 1rem;

    --fw-bold: 700;
    --fw-black: 900;

    --color-white: #fcfcfc;     // alabaster
    --color-blue: #1ea0d2;      // curious blue
    --color-primary: #ffac10;   // sun
    --color-copper: #311102;    // buccaneer
    --color-midnight: #0e1b3d;  // blue zodiac

    --b-radius: .375rem;
}



/* HELPERS */
@function rel-size($label) {
    $result: 1rem;
    @if $label == 300 {
        $result: $result * .8;
    } @else if $label == 500 {
        $result: $result * 1.25;
    } @else if $label == 600 {
        $result: $result * 1.6;
    } @else if $label == 700 {
        $result: $result * 2;
    } @else if $label == 900 {
        $result: $result * 3;
    }

    @return $result;
}



/* GLOBAL CSS STARTS */
body {
    position: relative;
    padding-bottom: rel-size(600);
    overflow-x: hidden;

    color: var(--color-white);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    font-size: rel-size(700);
}

h2,
h3 {
    font-size: rel-size(600);
}

a {
    color: var(--color-blue);
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}



/* PLAYGROUND */
// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }

.text {
    width: 12rem;
}
